# Web Frameworks and Servers
Flask==3.0.0
fastapi==0.109.2
uvicorn==0.27.1

# Utilities
python-dotenv==1.0.0
Werkzeug==3.0.1

# AI and Processing
mistralai
newspaper4k

# File System Monitoring
watchdog==3.0.0

tenacity